#birth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;
  padding: 20px 15px 0 15px;
  background-color: rgb(245, 241, 241);
  color: #3f254a;
  min-height: calc(100vh - 65px);
  overflow-x: hidden;
}

#birth-content > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

#birth-content img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#birth-content p {
  line-height: 1.5;
  font-size: max(1.4vw, 17px);
}

.img-wrapper {
  width: 35%;
  min-width: 380px;
  height: 300px;
  border-radius: 5px;
}

.img-wrapper-2 {
  width: 20%;
  min-width: 270px;
  border-radius: 5px;
}

.txt-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*tablet*/
@media (max-width: 768px) {
  .img-wrapper,
  .img-wrapper-2,
  .txt-wrapper {
    width: 100%;
    min-width: none;
  }

  #birth-content > div {
    justify-content: center;
    align-items: flex-start;
  }

  #birth-content > div:nth-child(1) {
    flex-direction: column;
  }

  #birth-content > div:nth-child(2) {
    flex-direction: column-reverse;
  }

  .img-wrapper:nth-child(1) {
    margin-right: 0;
  }

  .img-wrapper:nth-child(2) {
    margin-left: 0;
  }
}
