#contact-content {
  margin-top: 65px;
  height: calc(100vh - 65px);
  background-color: var(--light-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

#contact-content > h2 {
  color: #0e2d36;
  font-size: max(2.8vw, 30px);
}

#contact-content > img {
  height: 30%;
  border-radius: 50%;
}

#contact-content > span,
#contact-content > p {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

#contact-content > span:not(#maps-details) {
  font-size: max(1.4vw, 19px);
  color: rgb(48 56 77);
}

#contact-content > #location > div {
  display: flex;
  flex-direction: column;
}

#contact-content > i {
  color: rgb(84, 84, 84);
}

#maps-details {
  color: rgb(104 104 123);
  font-size: max(0.9vw, 15px);
}

/*tablet*/
@media (max-width: 768px) {
  #contact-content {
    padding: 0 10px;
    gap: 10px;
  }

  #contact-content > h2 {
    font-size: 7vw;
  }

  #contact-content > span:not(#maps-details) {
    font-size: 3.1vw;
  }

  #maps-details {
    font-size: 2.3vw;
  }
}

/*mobile*/
@media (max-width: 479px) {
  #contact-content > h2 {
    font-size: 8.2vw;
  }

  #contact-content > span:not(#maps-details) {
    font-size: 5vw;
  }

  #maps-details {
    font-size: 3vw;
  }
}
