#naissance-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;
  padding: 20px 15px 0 15px;
  background-color: rgb(245, 241, 241);
  color: #3f254a;
  min-height: calc(100vh - 65px);
  overflow-x: hidden;
  gap: 20px;
}

#naissance-content > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

#naissance-content img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.img-wrapper {
  min-width: 300px;
  max-width: 400px;
  border-radius: 5px;
}

.img-wrapper-2 {
  min-width: 220px;
  max-width: 270px;
  border-radius: 5px;
}

/*tablet*/
@media (max-width: 768px) {
  .img-wrapper,
  .img-wrapper-2 {
    width: 100%;
    min-width: none;
    max-width: none;
  }

  #naissance-content > div {
    justify-content: center;
    align-items: flex-start;
  }

  #naissance-content > div:nth-child(1) {
    flex-direction: column;
  }

  #naissance-content > div:nth-child(2) {
    flex-direction: column-reverse;
  }

  .img-wrapper:nth-child(1) {
    margin-right: 0;
  }

  .img-wrapper:nth-child(2) {
    margin-left: 0;
  }
}
