.content {
    min-height: calc(100vh - 65px);
    margin-top: 65px;
    display: flex;
    overflow-x: hidden;
}

.content-text {
    width: 65%;
    padding: 2.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content-text p {
    line-height: 1.5;
    font-size: max(1.4vw, 17px);
}

.h1 {
    font-size: max(3.1vw, 32px);
}

.h2 {
    font-size: max(2.2vw, 23px);
}

.h3 {
    font-size: max(1.8vw, 19px);
}

.content-img {
    width: 35%;
    min-width: 335px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*tablet*/
@media (max-width: 768px) {
    .content {
        min-height: auto;
    }

    .content-img-left {
        flex-direction: column;
    }

    .content-img-right {
        flex-direction: column-reverse;
    }

    .content-text,
    .content-img {
        width: 100vw;
    }

    .content-img {
        height: 25vh;
    }

    .content-text {
        min-height: calc(75vh - 65px);
        justify-content: flex-start;
        padding: 15px !important;
    }

    .h1 {
        font-size: max(3.5vw, 34px);
    }
    
    .h2 {
        font-size: max(3vw, 27px);
    }
    
    .h3 {
        font-size: max(2.5vw, 23px);
    }
}